<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/master}" >
<head>
    <title>[[#{user.list.title}]]</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="flex flex-col w-full h-full">
            <div class="flex flex-wrap justify-between items-center mb-6">
                <div class="grow">
                    <h1 class="text-base md:text-lg font-semibold mb-1">[[#{user.list.headline}]]</h1>
                    <h2 class="text-xs font-medium text-gray-400">[[#{user.list.subheadline}]]</h2>
                </div>
                <div>
                    <button type="button" class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-semibold rounded-lg text-xs px-4 py-2 focus:outline-none" th:onclick="window.location.href='/users/add'">[[#{user.list.createNew}]]</button>
                </div>
            </div>
            <div class="flex-grow bg-white shadow-sm rounded-lg p-8">
                <div th:if="${users.empty}">
                    TODO: Add a message when there are no users
                </div>
                <div th:if="${!users.empty}" class="overflow-x-auto">
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left p-2">[[#{user.id.label}]]</th>
                                <th scope="col" class="text-left p-2">[[#{user.firstName.label}]]</th>
                                <th scope="col" class="text-left p-2">[[#{user.lastName.label}]]</th>
                                <th scope="col" class="text-left p-2">[[#{user.email.label}]]</th>
                                <th scope="col" class="text-left p-2">[[#{user.role.label}]]</th>
                                <th scope="col" class="text-left p-2">[[#{user.chatroomCount.label}]]</th>
                                <th>[[#{user.list.actions}]]</th>
                            </tr>
                        </thead>
                        <tbody class="border-t-2 border-black">
                            <tr th:each="user : ${users}" class="odd:bg-gray-100">
                                <td class="p-2">[[${user.id}]]</td>
                                <td class="p-2">[[${user.firstName}]]</td>
                                <td class="p-2">[[${user.lastName}]]</td>
                                <td class="p-2">[[${user.email}]]</td>
                                <td class="p-2">[[${user.isAdmin} ? ${#strings.capitalize('admin')} : ${#strings.capitalize('user')}]]</td>
                                <td class="p-2">[[${user.chatroomCount}]]</td>
                                <td class="p-2">
                                    <div class="float-right whitespace-nowrap">
                                        <a th:href="@{/users/edit/{id}(id=${user.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{user.list.edit}]]</a>
                                        <form th:action="@{/users/delete/{id}(id=${user.id})}"
                                                th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm inline">
                                            <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{user.list.delete}]]</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
