/* Reset some basic styles */
* {
  margin: 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
}

html, body, #root {
  height: 100%;
}

/* App container */
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Layout for sidebar and main content */
.layout {
  display: flex;
  flex: 1;
  height: calc(100% - 64px);
}

/* Sidebar styles */
.sidebar {
  /* width: 250px; */
  background-color: #f4f4f4;
  /* padding: 20px; */
  border-right: 1px solid #ddd;
}

/* Main content styles */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}