<div th:fragment="pagination">
    <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 px-1 py-5" aria-label="Table navigation">
        <div class="flex items-center flex-wrap gap-x-3 gap-y-2">
            <select class="bg-gray-100 border border-none text-slate-500 text-sm rounded-lg focus:bg-gray-200/75 focus:ring-0 block px-3 py-2 font-medium"
            aria-label="Nombre d'éléments par page" id="perPage" name="perPage">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <span class="text-sm font-medium text-gray-400 leading-6">
                    Affichage de
                    <span class="font-semibold text-gray-500 dark:text-white">1-10</span>
                    sur
                    <span class="font-semibold text-gray-500 dark:text-white">1000</span>
                    éléments
                </span>
        </div>

                    
        
        <!-- <a th:href="@{ ${uriComponentsBuilder.replaceQueryParam('page', 1).build().toUriString()} }">NEW</a> -->

        <br>
        [[${users}]]
        <br>
        [[${users.empty}]]
        <br>
        Nb page total: [[${users.totalPages}]]
        <br>
        Nb éléments total: [[${users.totalElements}]]
        Nb éléments total: [[${users.totalElements}]]
        <br>
        Page actuel: [[${users.number}]]
        <br>
        Nb éléments page: [[${users.size}]]
        <br>
        NbPremier ?: [[${users.isFirst}]]


        <ul class="flex items-center justify-center gap-x-2 gap-y-1 text-sm font-medium flex-wrap">
            <li th:if="${users.hasPrevious()}">
                <a th:with="prevPage=${users.number - 1}"
                th:href="@{ ${uriComponentsBuilder.replaceQueryParam('page', prevPage).build().toUriString()} }"
                class="flex items-center justify-center px-2.5 py-2.5 text-zinc-300 bg-white rounded-s-lg rounded-e-sm hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75 -me-0.5">
                    <i class="w-3 h-3 fa-solid fa-chevron-left"></i>
                </a>
            </li>
            <li th:if="${!users.hasPrevious()}">
                <div class="flex items-center justify-center px-2.5 py-2.5 text-zinc-300 bg-white rounded-s-lg rounded-e-sm -me-0.5">
                    <i class="w-3 h-3 fa-solid fa-chevron-left"></i>
                </div>
            </li>

            <li>
                <a th:with="currentPage=${users.number}, targetPage=0"
                th:href="@{ ${uriComponentsBuilder.replaceQueryParam('page', targetPage).build().toUriString()} }"
                class="flex items-center justify-center px-3 py-1.5 rounded-lg text-base"
                th:classappend="${currentPage == targetPage} ? 'text-white bg-blue-500' : 'text-gray-500 bg-white hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75'">
                [[${targetPage}]]
                </a>
            </li>

            <div th:if="${users.totalPages > 1}" th:remove="tag">
                <li th:each="page : ${#numbers.sequence(1, users.totalPages - 2)}">
                    <a th:with="currentPage=${users.number}, targetPage=${page}"
                    th:href="@{ ${uriComponentsBuilder.replaceQueryParam('page', targetPage).build().toUriString()} }"
                    class="flex items-center justify-center px-3 py-1.5 rounded-lg text-base"
                    th:classappend="${currentPage == targetPage} ? 'text-white bg-blue-500' : 'text-gray-500 bg-white hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75'">
                    [[${targetPage}]]
                    </a>
                </li>
            </div>

            <li>
                <a th:with="currentPage=${users.number}, targetPage=${users.totalPages - 1}"
                th:href="@{ ${uriComponentsBuilder.replaceQueryParam('page', targetPage).build().toUriString()} }"
                class="flex items-center justify-center px-3 py-1.5 rounded-lg text-base"
                th:classappend="${currentPage == targetPage} ? 'text-white bg-blue-500' : 'text-gray-500 bg-white hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75'">
                [[${targetPage}]]
                </a>
            </li>

            <li th:if="${users.hasNext()}">
                <a th:with="nextPage=${users.number + 1}"
                th:href="@{ ${uriComponentsBuilder.replaceQueryParam('page', nextPage).build().toUriString()} }"
                class="flex items-center justify-center px-2.5 py-2.5 text-zinc-300 bg-white rounded-e-lg rounded-s-sm hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75 -ms-0.5">
                    <i class="w-3 h-3 fa-solid fa-chevron-right"></i>
                </a>
            </li>
            <li th:if="${!users.hasNext()}">
                <div class="flex items-center justify-center px-2.5 py-2.5 text-zinc-300 bg-white rounded-e-lg rounded-s-sm -ms-0.5">
                    <i class="w-3 h-3 fa-solid fa-chevron-right"></i>
                </div>
            </li>

        </ul>

    </nav>
</div>