<div th:fragment="pagination">
<nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 px-1 py-5" aria-label="Table navigation">
    <div class="flex items-center flex-wrap gap-x-3 gap-y-2">
        <select class="bg-gray-100 border border-none text-slate-500 text-sm rounded-lg focus:bg-gray-200/75 focus:ring-0 block px-3 py-2 font-medium"
        aria-label="Nombre d'éléments par page" id="perPage" name="perPage">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
            <span class="text-sm font-medium text-gray-400 leading-6">
                Affichage de
                <span class="font-semibold text-gray-500 dark:text-white">1-10</span>
                sur
                <span class="font-semibold text-gray-500 dark:text-white">1000</span>
                éléments
            </span>
    </div>

                
    
    <!-- <a th:href="@{ ${uriComponentsBuilder.replaceQueryParam('page', 1).build().toUriString()} }">NEW</a> -->

    <br>
    [[${users}]]
    <br>
    [[${users.empty}]]
    <br>
    Nb page total: [[${users.totalPages}]]
    <br>
    Nb éléments total: [[${users.totalElements}]]
    Nb éléments total: [[${users.totalElements}]]
    <br>
    Page actuel: [[${users.number}]]
    <br>
    Nb éléments page: [[${users.size}]]
    <br>
    NbPremier ?: [[${users.isFirst}]]


    <nav aria-label="Pagination">
        <ul class="flex items-center justify-center space-x-2 text-sm font-medium flex-wrap">
            <th:block>
                <div th:if="${users.hasPrevious()}" th:remove="tag">
                    <a th:with="prevPage=${users.number - 1}"
                    th:href="@{ ${uriComponentsBuilder.replaceQueryParam('page', prevPage).build().toUriString()} }"
                    class="flex items-center justify-center px-2.5 py-2.5 text-zinc-300 bg-white rounded-s-lg rounded-e-sm hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75 -me-0.5">
                        <i class="w-3 h-3 fa-solid fa-chevron-left"></i>
                    </a>
                </div>
                <div th:if="${!users.hasPrevious()}" th:remove="tag">
                    <div href="#" class="flex items-center justify-center px-2.5 py-2.5 text-zinc-300 bg-white rounded-s-lg rounded-e-sm -me-0.5">
                        <i class="w-3 h-3 fa-solid fa-chevron-left"></i>
                    </div>
                </div>
            </th:block>

    
        </ul>
    </nav>

        <a href="#" class="flex items-center justify-center aspect-square px-3 py-1.5 text-gray-500 bg-white rounded-lg  hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75">1
        </a>
        <a href="#" class="flex items-center aspect-square justify-center px-3 py-1.5 text-white bg-blue-500 rounded-lg">2
        </a>
        <a href="#" class="flex items-center justify-center px-3 py-1.5 text-gray-500 bg-white rounded-lg  hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75">3
        </a>
        <a href="#" class="flex items-center justify-center px-3 py-1.5 text-gray-500 bg-white rounded-lg  hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75">4
        <a href="#" class="flex items-center justify-center px-2.5 py-2.5 text-zinc-300 bg-white rounded-s-lg rounded-e-sm hover:bg-gray-100/75 hover:text-blue-500 transition-colors duration-75 -ms-1">
            <i class="w-3 h-3 fa-solid fa-chevron-right"></i>
        </a>
        



    <!-- <ul class="inline-flex items-stretch -space-x-px">
        <li th:each="page : ${#numbers.sequence(1, 10)}">
            <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                [[${page}]]
            </a>
        </li>
    </ul> -->
</nav>
</div>