<div th:fragment="header-user">
    <div class="m-auto justify-center flex flex-row-reverse items-center flex-wrap gap-x-3 gap-y-1.5">
        <form id="logout-form" th:action="@{/logout}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <button
                id="logout-button"
                type="submit"
                data-tooltip-target="tooltip-logout"
                class="flex items-center justify-center px-2 py-1.5 text-red-500 bg-red-100 rounded-lg hover:text-red-600 hover:bg-red-200/75 focus:outline-none focus:ring focus:ring-red-200 border border-red-500 border-dashed transition-colors duration-75"
            >
                <i class="fa-solid fa-sign-out text-lg"></i>
            </button>
        </form>

        <div
            id="tooltip-logout"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-[0.625rem] py-[0.325rem] text-xs font-medium text-white transition-opacity duration-300 bg-slate-800 rounded-lg shadow-sm opacity-0 tooltip"
        >
            Déconnexion
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-lg">
            <span class="font-medium text-gray-600"
                ><span sec:authentication="principal.initials">JD</span></span
            >
        </div>

        <div class="text-right dark:text-white sm:block hidden">
            <div class="font-medium text-xs text-gray-400" th:with="currentHour=${T(java.time.LocalTime).now().getHour()}">
                <span th:if="${currentHour < 12}">Bonjour,</span>
                <span th:if="${currentHour >= 12 and currentHour < 18}">Bon après-midi,</span>
                <span th:if="${currentHour >= 18}">Bonsoir,</span>
            </div>
            <div class="font-semibold text-sm text-slate-800">
                <span sec:authentication="principal.fullName">John Doe</span>
            </div>
        </div>
    </div>
</div>
