<div th:fragment="external-links" class="space-y-2.5">
    <button class="w-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 focus:ring-3 focus:outline-none focus:ring-lime-200 opacity-50 hover:opacity-100"
    onclick="window.open('', '_blank')">
        <span class="w-full relative px-5 py-1.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0 text-xs">
            Swagger API Docs
        </span>
    </button>
    <button class="w-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white focus:ring-3 focus:outline-none focus:ring-pink-200 opacity-50 hover:opacity-100" onclick="window.open('', '_blank')">
        <span class="w-full relative px-5 py-1.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0 text-xs">
            GitLab Repository
        </span>
    </button>
</div>
