


<li th:fragment="navigation-link (icon, label, url, url_regex)"
    th:with="is_active=${url.matches(url_regex)}">

    is_active: <span th:text="${is_active}"></span>
    
    <!-- <a th:href="@{__${url}__}" th:classappend="${is_active} ? 'bg-slate-100 dark:bg-gray-700 text-gray-900 dark:text-gray-200' : 'text-slate-800 dark:text-gray-200'}"
        class="flex items-center px-3 py-2 text-base transition duration-75 rounded-lg group">
        <i class="text-xl text-gray-400 transition duration-75 group-hover:text-gray-500"
            th:classappend="${icon}"
            th:class="${is_active} ? 'text-gray-500 dark:text-gray-500' : 'text-gray-400 dark:text-gray-400'}"></i>
        <span class="ml-3 font-semibold text-sm" sidebar-toggle-item th:text="${label}"></span>
    </a> -->
</li>
