<aside
    th:fragment="sidebar"
    id="sidebar"
    class="fixed top-0 left-0 lg:z-20 z-40 w-64 h-full 
    transition-transform -translate-x-full sm:translate-x-0
    lg:flex flex-col flex-shrink-0 lg:pt-16 font-normal duration-150 
    "
    aria-label="Sidebar"
    aria-modal="true"
    role="dialog"
>
    <div class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-slate-100 h-full">
        <div class="flex flex-col flex-1 overflow-y-auto bg-white divide-y divide-gray-200 divide-dashed">
            <div class="pt-8 pb-3 px-5 flex-1 overflow-y-auto" th:insert="~{layouts/sidebar/_navigation :: navigation}"></div>
            <div class="pt-4 pb-5 px-5 overflow-y-auto" th:insert="~{layouts/sidebar/_external_links :: external-links}"></div>
        </div>
    </div>
</aside>
