<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}"
>
    <div layout:fragment="body" class="m-0 p-0 h-screen flex flex-col">
        <form
            class="flex flex-col items-center justify-center"
            th:action="@{/forgot-password}"
            method="post"
        >
            <div class="flex flex-col items-center">
                <h1 class="text-3xl font-bold">Forgot Password</h1>
                <p class="text-sm text-gray-500">
                    Enter your email address and we'll send you a link to reset your password.
                </p>
            </div>
            <div class="flex flex-col items-center mt-4">
                <input
                    class="w-80 h-10 px-3 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500"
                    type="email"
                    name="email"
                    placeholder="Email"
                    required
                />
            </div>
            <div class="flex flex-col items-center mt-4">
                <button
                    class="w-80 h-10 px-3 rounded-lg bg-blue-500 text-white focus:outline-none"
                    type="submit"
                >
                    Send Reset Link
                </button>
            </div>
        </form>
    </div>
</html>
