<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{security/master}"
>
    <div layout:fragment="content" class="w-full md:max-w-2xl max-w-xl">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 md:max-w-2xl xl:p-0 max-w-xl">
            <div class="px-8 md:space-y-9 sm:px-10 grow space-y-8 pb-10 pt-8 sm:pt-10 sm:pb-13">
                <div class="space-y-2">
                    <h1 class="text-3xl font-semibold leading-tight tracking-tight text-slate-800 md:text-4xl">
                        Mot de passe oublié
                    </h1>
                    <span
                        class="block text-gray-400 font-medium text-sm md:text-base"
                        >Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</span
                    >
                </div>
                <form
                    class="space-y-8 md:space-y-9"
                    th:action="@{/forgot-password}"
                    method="post"
                >
                    <div class="space-y-6 md:space-y-8">
                        <div>
                            <label for="email" class="block mb-2.5 text-sm font-medium text-slate-800">Adresse e-mail</label>
                            <input type="email" id="email" name="email"
                                class="bg-gray-100/75 border border-none text-slate-600 placeholder-gray-500 rounded-lg focus:bg-gray-100 focus:ring-0 font-medium block w-full px-5 py-3"
                                placeholder="john.doe@company.com" required />
                        </div>
                    </div>
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-lg px-5 py-3 transition-colors duration-75 text-center">
                        Envoyer le lien de réinitialisation
                    </button>
                </form>
            </div>
        </div>
    </div>
</html>
