<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{security/master}"
>
    <div layout:fragment="content" class="w-full md:max-w-2xl max-w-xl">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 md:max-w-2xl xl:p-0 max-w-xl"></div>
            <div class="px-8 md:space-y-9 sm:px-10 grow space-y-8 pb-10 pt-8 sm:pt-10 sm:pb-13">
                <div class="space-y-2">
                    <h1 class="text-3xl font-semibold leading-tight tracking-tight text-slate-800 md:text-4xl">
                        Réinitialiser le mot de passe
                    </h1>
                    <span
                        class="block text-gray-400 font-medium text-sm md:text-base"
                        >Entrez votre nouveau mot de passe.</span
                    >
                </div>
                <form
                    class="space-y-8 md:space-y-9"
                    th:action="@{/reset-password}"
                    method="post"
                >
                    <div class="space-y-6 md:space-y-8">
                        <input type="hidden" name="token" th:value="${token}" />
                        <div>
                            <label for="password" class="block mb-2.5 text-sm font-medium text-slate-800">Mot de passe</label>
                            <input type="password" id="password" name="password"
                                class="bg-gray-100/75 border border-none text-slate-600 placeholder-gray-500 rounded-lg focus:bg-gray-100 focus:ring-0 font-medium block w-full px-5 py-3"
                                placeholder="•••••••••" minlength="8" required />
                        </div>
                        <div>
                            <label for="confirmPassword" class="block mb-2.5 text-sm font-medium text-slate-800">Mot de passe</label>
                            <input type="password" id="confirmPassword" name="confirmPassword"
                                class="bg-gray-100/75 border border-none text-slate-600 placeholder-gray-500 rounded-lg focus:bg-gray-100 focus:ring-0 font-medium block w-full px-5 py-3"
                                placeholder="•••••••••" minlength="8" required />
                        </div>
                        <button type="submit"
                            class="bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-lg px-5 py-3 transition-colors duration-75 text-center">
                            Réinitialiser le mot de passe
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>
